@page
@model T4PR1.Pages.EnergyIndicatorModel
@{
    Layout = "_Layout";
}
<h2>Indicadors Energètics</h2>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Tipus</th>
            <th>Valor</th>
            <th>Any</th>
        </tr>
    </thead>
    <tbody>
        <tr><td colspan="3" class="text-center">No hi ha dades disponibles.</td></tr>
    </tbody>
</table>
<a href="/FormEnergy" class="btn btn-primary">Afegir Indicador</a>