@page
@model T4PR1.Pages.FormWaterModel
@{
    Layout = "_Layout";
}
<h2>Afegir Consum d'Aigua</h2>
<form>
    <div class="mb-3">
        <label class="form-label">Municipi</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Consum (litres)</label>
        <input type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Any</label>
        <input type="number" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Desar</button>
</form>
