@page
@model T4PR1.Pages.FormEnergyModel
@{
    Layout = "_Layout";
}
<h2>Afegir Indicador Energètic</h2>
<form>
    <div class="mb-3">
        <label class="form-label">Tipus</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Valor</label>
        <input type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Any</label>
        <input type="number" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Desar</button>
</form>