@page
@model IndexModel
@{
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4">Benvingut a EcoEnergy Solutions</h1>
    <p>Una aplicació per gestionar simulacions d'energia renovable.</p>
</div>

