@page
@model T4PR1.Pages.SimulationsModel
@{
    Layout = "_Layout";
}
<h2>Simulacions</h2>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Tipus</th>
            <th>Paràmetres</th>
            <th>Energia Generada</th>
            <th>Cost</th>
            <th>Preu</th>
        </tr>
    </thead>
    <tbody>
        <tr><td colspan="5" class="text-center">No hi ha simulacions disponibles.</td></tr>
    </tbody>
</table>
<a href="/FormSimulation" class="btn btn-primary">Afegir Simulació</a>