@page
@model T4PR1.Pages.WaterConsumModel
@{
    Layout = "_Layout";
}
<h2>Consums d'Aigua</h2>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Municipi</th>
            <th>Consum</th>
            <th>Any</th>
        </tr>
    </thead>
    <tbody>
        <tr><td colspan="3" class="text-center">No hi ha dades disponibles.</td></tr>
    </tbody>
</table>
<a href="/FormWater" class="btn btn-primary">Afegir Consum</a>